// header start
.header {
    &__box {
      height: 100px;
      background-color: #eef1f3;
    }
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100px;
    }
    &__logo {
      margin-left: 8px;
      transition: 0.5s;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $color-blue;
        transition: 0.5s;
      }
    }
    &__top-items {
      display: flex;
      align-items: center;
    }
    &__link {
      font-size: 14px;
      line-height: 28px;
      text-align: center;
      background-color: $color-blue;
      box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
      border-radius: 35px;
      margin-right: 40px;
      padding: 4px 17px;
      color: #ffffff;
      margin-left: 18px;
      transition: 0.5s;
      &:hover {
        background-color: #fff;
        color: $color-violet;
        transition: 1s;
      }
      :active {
        color: $color-violet;
        transition: 1s;
      }
      :focus {
        color: $color-violet;
        transition: 1s;
      }
    }
    &__icon {
      display: flex;
      justify-content: space-between;
      position: relative;
      font-size: 20px;
      color: #7e8fa1;
      .lnr-envelope,
      .lnr-alarm {
        margin-right: 33px;
      }
      .menu__alarm,
      .menu__mail,
      .menu__cart {
        padding: 40px 0;
      }
      .menu__mail:hover {
        .drop-menu__messages {
          display: block;
        }
      }
      .lnr-cart {
        margin-right: 45px;
      }
      .lnr-envelope:hover,
      .lnr-alarm:hover,
      .lnr-cart:hover {
        color: $color-blue;
        transition: 1s;
      }
      :active {
        color: $color-blue;
        transition: 1s;
      }
      :focus {
        color: $color-blue;
        transition: 1s;
      }
    }
    &__account {
      display: flex;
      position: relative;
      justify-content: center;
      padding: 32px 0;
    }
    &__account:hover,
    :active,
    :focus {
      .drop-menu__account {
        display: block;
      }
    }
  
    &__photo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center;
    }
    &__info {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
    &__name {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 22px;
      color: #333333;
    }
    &__price {
      font-family: "Quicksand", sans-serif;
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      color: $color-blue;
    }
    &__form {
      display: flex;
      justify-content: space-between;
      width: 360px;
      height: 44px;
      border: 1px solid #d9dfe5;
      border-radius: 35px;
      transition: 0.5s;
      &:hover {
        border: 1px solid #1673d1;
        transition: 1s;
      }
      :active {
        border: 1px solid #1673d1;
        transition: 1s;
      }
      :focus {
        border: 1px solid #1673d1;
        transition: 1s;
      }
    }
    &__form-search {
      font-size: 15px;
      height: 42px;
      border: none;
      outline: none;
      border-radius: 35px;
      padding: 0 25px;
    }
    .header__form-button {
      width: 70px;
      height: 42px;
      text-align: center;
      background-color: $color-blue;
      border-radius: 35px;
      border: none;
      outline: none;
      cursor: pointer;
      .lnr-magnifier {
        font-size: 15px;
        color: #ffffff;
      }
    }
    &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
      height: 80px;
  
      &__list {
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: space-between;
        font-size: 15px;
        line-height: 2.8;
        text-transform: uppercase;
      }
      &__link-home:hover {
        .drop-menu__home {
          display: block;
        }
      }
      &__link-products:hover {
        .drop-menu__products {
          display: block;
        }
      }
      &__link-wordpress:hover {
        .drop-menu__wordpress {
          display: block;
        }
      }
      &__link {
        font-family: "Quicksand", sans-serif;
        font-weight: 500;
        color: #333333;
        padding: 25px 0;
        transition: 1s;
        &:hover {
          color: $color-blue;
          transition: 1s;
        }
        :active {
          color: $color-blue;
          transition: 1s;
        }
        :focus {
          color: $color-blue;
          transition: 1s;
        }
      }
    }
    .badge {
      position: absolute;
      min-width: 22px;
      height: 22px;
      font-size: 14px;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      text-align: center;
      border-radius: 50%;
      padding: 3px;
      &--alarm {
        top: 25px;
        left: 10px;
        color: #ffffff;
        background-color: #ff6a6c;
      }
      &--envelope {
        top: 25px;
        left: 70px;
        color: #ffffff;
        background-color: #62d03b;
      }
      &--cart {
        top: 25px;
        left: 130px;
        color: #ffffff;
        background-color: $color-blue;
      }
    }
    &__menu-button {
      display: none;
      width: 30px;
    }
    &__menu-row {
      width: 100%;
      height: 4px;
      background-color: $color-blue;
      margin-bottom: 6px;
    }
  }
  // header end