@import "vars";
@import "global";
@import "fonts";

// features start
.features__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .features__title {
      max-width: 361px;
      min-height: 403px;
      text-align: center;
      border-radius: 4px;
      background-color: #ffffff;
      margin-top: 184px;
      margin-bottom: 110px;
      .features__img {
        margin-top: 34px;
      }
      .features__caption {
        font-size: 24px;
        color: #000000;
        margin-top: 37px;
      }
      .features__text {
        font-size: 16px;
        line-height: 30px;
        color: $color-grey;
        margin-top: 20px;
        margin-bottom: 48px;
      }
      &:hover {
        box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      }
    }
  }
  // features end