html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  display: inline-block;
  text-decoration: none;
  &:hover {
    color: $color-blue;
  }
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  height: 100%;
}
.wrapper {
display: flex;
flex-direction: column;
min-height: 100%;
}
.content {
flex: 1 0 auto;
}
.footer {
flex: 0 0 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.uppercase {
  text-transform: uppercase;
}

.speak {
  font-size: 0;
}

.social-icon {
  display: inline-block;
  .link {
    width: 42px;
    height: 42px;
    background-image: url(../images/css_sprites.png);
    margin-right: 10px;
    transition: 1s;
  }
  .social-icon__tw {
    background-position: -42px 0;
  }
  .social-icon__g {
    background-position: 0 -42px;
  }
  .social-icon__pin {
    background-position: -42px -42px;
  }
  .social-icon__lin {
    background-position: -84px 0;
  }
  .social-icon__gh {
    background-position: -84px -42px;
  }
}

.captions__container {
  text-align: center;
  max-width: 690px;
  margin: 0 auto;
  .captions {
    font-size: 36px;
    line-height: 28px;
    margin-top: 120px;
    .captions-blue {
      color: $color-blue;
    }
  }
  .text {
    font-size: 16px;
    line-height: 30px;
    margin-top: 30px;
    color: $color-grey;
    margin-bottom: 51px;
  }
}

.search__button {
  min-width: 190px;
  font-size: 16px;
  text-align: center;
  border-radius: 45px;
  transition: 1s;
  border: none;
}




