@import "vars", "global", "fonts", "linearicons";

// header start
.header__menu-button {
  display: none;
  width: 30px;
}
.header__menu-row {
  width: 100%;
  height: 4px;
  background-color: $color-blue;
  margin-bottom: 6px;
}
.header {
  &__box {
    height: 100px;
    background-color: #eef1f3;
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  &__logo {
    margin-left: 8px;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $color-blue;
      transition: 0.5s;
    }
  }
  &__top-items {
    display: flex;
    align-items: center;
  }
  &__link {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    background-color: $color-blue;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    margin-right: 40px;
    padding: 4px 17px;
    color: #ffffff;
    margin-left: 18px;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: $color-violet;
      transition: 1s;
    }
    :active {
      color: $color-violet;
      transition: 1s;
    }
    :focus {
      color: $color-violet;
      transition: 1s;
    }
  }
  &__icon {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-size: 20px;
    color: #7e8fa1;
    .lnr-envelope,
    .lnr-alarm {
      margin-right: 33px;
    }
    .menu__alarm,
    .menu__mail,
    .menu__cart {
      padding: 40px 0;
    }
    .menu__mail:hover {
      .drop-menu__messages {
        display: block;
      }
    }
    .lnr-cart {
      margin-right: 45px;
    }
    .lnr-envelope:hover,
    .lnr-alarm:hover,
    .lnr-cart:hover {
      color: $color-blue;
      transition: 1s;
    }
    :active {
      color: $color-blue;
      transition: 1s;
    }
    :focus {
      color: $color-blue;
      transition: 1s;
    }
  }
  &__account {
    display: flex;
    position: relative;
    justify-content: center;
    padding: 32px 0;
  }
  &__account:hover,
  :active,
  :focus {
    .drop-menu__account {
      display: block;
    }
  }

  &__photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-position: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
  }
  &__name {
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    color: #333333;
  }
  &__price {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: $color-blue;
  }
  &__form {
    display: flex;
    justify-content: space-between;
    width: 360px;
    height: 44px;
    border: 1px solid #d9dfe5;
    border-radius: 35px;
    transition: 0.5s;
    &:hover {
      border: 1px solid #1673d1;
      transition: 1s;
    }
    :active {
      border: 1px solid #1673d1;
      transition: 1s;
    }
    :focus {
      border: 1px solid #1673d1;
      transition: 1s;
    }
  }
  &__form-search {
    font-size: 15px;
    height: 42px;
    border: none;
    outline: none;
    border-radius: 35px;
    padding: 0 25px;
  }
  .header__form-button {
    width: 70px;
    height: 42px;
    text-align: center;
    background-color: $color-blue;
    border-radius: 35px;
    border: none;
    outline: none;
    cursor: pointer;
    .lnr-magnifier {
      font-size: 15px;
      color: #ffffff;
    }
  }
  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 500px;
      justify-content: space-between;
      font-size: 15px;
      line-height: 2.8;
      text-transform: uppercase;
    }
    &__link-home:hover {
      .drop-menu__home {
        display: block;
      }
    }
    &__link-products:hover {
      .drop-menu__products {
        display: block;
      }
    }
    &__link-wordpress:hover {
      .drop-menu__wordpress {
        display: block;
      }
    }
    &__link {
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      color: #333333;
      padding: 25px 0;
      transition: 1s;
      &:hover {
        color: $color-blue;
        transition: 1s;
      }
      :active {
        color: $color-blue;
        transition: 1s;
      }
      :focus {
        color: $color-blue;
        transition: 1s;
      }
    }
  }
  .badge {
    position: absolute;
    min-width: 22px;
    height: 22px;
    font-size: 14px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
    border-radius: 50%;
    padding: 3px;
    &--alarm {
      top: 25px;
      left: 10px;
      background-color: #ff6a6c;
    }
    &--envelope {
      top: 25px;
      left: 70px;
      background-color: #62d03b;
    }
    &--cart {
      top: 25px;
      left: 130px;
      background-color: $color-blue;
    }
  }
}
// header end

// search start
.search {
  &__inner {
    background-image: linear-gradient(270deg, rgb(0, 48, 222) 0%, rgb(23, 69, 237) 54%, rgb(46, 90, 251) 100%);
  }
  .search__slogan--top {
    font-size: 60px;
    padding-top: 170px;
  }
  &__slogan--top,
  &__slogan--bottom {
    color: #ffffff;
    text-align: center;
  }
  &__slogan--bottom {
    font-size: 60px;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    margin-bottom: 36px;
  }
  &__text {
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
  }
  .search__button {
    &--popular,
    &--view {
      min-width: 190px;
      color: #ffffff;
      background-color: transparent;
      border: 1px solid #ffffff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      border-radius: 45px;
      padding: 18px 0;
      transition: 0.5s;
      margin: 67px 14px 235px;
    }
    &--view:hover,
    &--popular:hover {
      color: $color-blue;
      background-color: #ffffff;
      box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
      transition: 1s;
    }
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  &__form-wrapper--top {
    position: absolute;
    top: -96px;
    z-index: 1;
    border-radius: 6px;
    background-color: #ffffff;
    opacity: 0.502;
    width: 1080px;
    height: 135px;
  }
  &__form-wrapper--bottom {
    position: absolute;
    top: -83px;
    z-index: 2;
    width: 1110px;
    height: 135px;
    border-radius: 6px;
    background-color: #ffffff;
    opacity: 0.502;
  }
  &__form-wrapper {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: -70px;
    z-index: 3;
    max-width: 1140px;
    min-height: 135px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
  }
  &__form-box {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }
  .form__inner {
    display: flex;
    justify-content: space-between;
    max-width: 805px;
    height: 53px;
    border-radius: 4px;
    border: 1px solid $color-border;
    margin-left: 40px;
    margin-right: 33px;
    transition: 0.5s;
    &:hover {
      border: 1px solid #1673d1;
      transition: 0.5s;
    }
    :active {
      border: 1px solid #1673d1;
      transition: 1s;
    }
    :focus {
      border: 1px solid #1673d1;
      transition: 1s;
    }
  }
  .form__box {
    display: flex;
    justify-content: space-between;
  }
  .search__form-box--text {
    width: 560px;
    font-size: 16px;
    border: none;
    outline: none;
    margin: 0 22px;
  }
  &__form-box--categories {
    font-size: 16px;
    color: $color-grey;
    width: 195px;
    height: 51px;
    border: none;
    border-left: 1px solid $color-border;
    outline: none;
    text-align: center;
    padding-left: 15px;
    padding-right: 50px;
  }
  &__form-box--button {
    width: 223px;
    height: 55px;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    background-color: $color-blue;
    margin-right: 40px;
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      background-color: #fff;
      color: $color-violet;
      border: 1px solid #1673d1;
      transition: 1s;
    }
    :active {
      color: $color-violet;
      border: 1px solid #1673d1;
      transition: 1s;
    }
    :focus {
      color: $color-violet;
      border: 1px solid #1673d1;
      transition: 1s;
    }
  }
}
// search end

// features start
.features {
  &__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__img {
    margin-top: 34px;
  }
  &__caption {
    font-size: 24px;
    color: #000000;
    margin-top: 37px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    color: $color-grey;
    padding: 0 35px 35px;
    margin-top: 20px;
    margin-bottom: 48px;
  }
  &__title {
    width: 361px;
    min-height: 403px;
    text-align: center;
    border-radius: 4px;
    background-color: #ffffff;
    margin-top: 184px;
    margin-bottom: 75px;
    transition: 0.5s;
    &:hover {
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      transition: 0.5s;
    }
  }
}
// features start

// start weekly
.weekly {
  background-color: #eff1f5;
  &__container {
    padding-top: 125px;
    padding-bottom: 120px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 1140px;
    height: 110px;
    margin-bottom: 50px;
    padding: 0 30px;
    &-text {
      font-size: 30px;
    }
  }
  &__button {
    position: relative;
    width: 110px;
    height: 45px;
    background-color: $color-violet;
    border-radius: 45px;
    .swiper-button-prev,
    .swiper-button-next {
      top: 22px;
      width: 55px;
      height: 45px;
      background-color: $color-violet;
      border: none;
      border-radius: 45%;
      color: #ffffff;
      transition: 1s;
      &:hover {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
      :active {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
      :focus {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
    }
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
    .swiper-button--img {
      width: 7px;
      height: 14px;
    }
  }
  &__item {
    display: flex;
    &-img {
      position: relative;
      min-width: 555px;
      height: 450px;
    }
  }
  &__item--name {
    transition: 1s;
  }
  &__inner-box {
    background-color: #fff;
    padding-left: 20px;
  }
  &__item-caption {
    font-size: 24px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    margin-top: 47px;
    margin-left: 30px;
  }
  &__item-text {
    font-size: 16px;
    line-height: 30px;
    height: 144px;
    overflow: hidden;
    color: $color-grey;
    padding: 26px 30px 10px;
  }
  &__item-button {
    border-bottom: 1px solid rgb(236, 236, 236);
    margin-right: 54px;
    margin-left: 30px;
    .product-button {
      color: #868c96;
      background-color: #f1f3f6;
      border-radius: 45px;
      border: none;
      margin-right: 9px;
      margin-bottom: 40px;
      padding: 9px 15px 8px 17px;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
      &:active {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
      &:focus {
        background-color: $color-blue;
        color: $color-violet;
        transition: 1s;
      }
    }
  }
  &__item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 22px;
  }
  &__item-basket {
    cursor: pointer;
    transition: 0.5s;
    &:hover {
      color: $color-violet;
      transition: 0.5s;
    }
  }
  &__item-price {
    width: 102px;
    height: 30px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    background-color: $color-blue;
    border-radius: 45px;
    margin-left: 30px;
  }
  .rate-star {
    margin-right: 50px;
  }
  &__item-like {
    font-size: 15px;
    color: #6f7d8d;
    background-color: transparent;
    border: none;
    cursor: pointer;
    .lnr-heart {
      color: $color-violet;
      margin-right: 8px;
      margin-left: 14px;
    }
    &:hover {
      color: $color-blue;
      transition: 0.5s;
    }
  }
  .hover__link {
    display: none;
    position: relative;
    text-align: center;
    a {
      position: absolute;
      font-size: 15px;
      font-family: "Quicksand", sans-serif;
      font-weight: 500;
      text-align: center;
      color: #ffffff;
      width: 130px;
      background-color: transparent;
      border: 1px solid rgb(244, 244, 244);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      border-radius: 45px;
    }
  }
  .hover--info {
    left: -450px;
    bottom: 200px;
    padding: 15px 20px;
    transition: 0.5s;
  }
  .hover--demo {
    left: -268px;
    bottom: 200px;
    padding: 15px 20px;
    transition: 0.5s;
  }
  .hover--info:hover,
  .hover--demo:hover {
    background-color: #fff;
    color: $color-blue;
    transition: 1s;
  }
  .hover:hover {
    .weekly__item-img::after {
      content: " ";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      background: linear-gradient(270deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
      opacity: 0.902;
      transition: 1s;
    }
    .hover__link {
      display: block;
    }
  }
}
// end weekly

// start release
.release {
  background-color: #f6f7fb;
  border-top: 1px solid transparent;
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    height: 110px;
    background-color: #ffffff;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    margin-top: 120px;
  }
  &__text {
    font-size: 30px;
    margin-left: 32px;
  }
  &__filter {
    display: flex;
    position: relative;
    padding: 20px 0px 20px 25px;
    cursor: pointer;
    &:hover {
      .release__menu {
        display: block;
      }
    }
  }
  &__filter {
    cursor: pointer;
  }
  &__filter--button {
    font-size: 16px;
    color: #747b86;
    background-color: #fff;
    margin-right: 30px;
    border: none;
    transition: 1s;
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
      transition: 1s;
    }
  }
  &__filter--img {
    width: 6px;
    height: 20px;
    background-image: url(../images/togle.svg);
    background-repeat: no-repeat;
    border: none;
    margin-right: 30px;
  }
  &__menu {
    position: absolute;
    top: 60px;
    right: 8px;
    display: flex;
    display: none;
    flex-direction: column;
    font-size: 15px;
    width: 183px;
    min-height: 179px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
    padding: 10px 0;
  }
  &__menu-btn {
    background-color: transparent;
    border: none;
    padding: 9px 20px;
    color: #747b86;
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
      transform: 1s;
    }
  }
  &__menu::after {
    content: "";
    position: absolute;
    top: -15px;
    left: 150px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 16px 9px;
    border-color: transparent transparent #ffffff transparent;
    box-shadow: 0px 5px 40px 0px rgba(82, 85, 90, 0.2);
  }

  .release__inner {
    &-btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 1140px;
      min-height: 92px;
      border-radius: 4px;
      background-color: #fff;
      box-shadow: 0px 1px 2px 0px rgba(90, 93, 100, 0.1);
      padding-left: 30px;
      margin-top: 30px;
      margin-bottom: 50px;
      button {
        font-size: 15px;
        color: #747b86;
        background-color: #f1f3f6;
        border-radius: 45px;
        border: none;
        outline: #fff;
        padding: 10px 20px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.5s;
        &.mixitup-control-active {
          font-family: "Quicksand", sans-serif;
          font-weight: 500;
          color: #ffffff;
          background-color: $color-blue;
          transition: 1s;
        }
        &:hover,
        &:active,
        &:focus {
          color: #ffffff;
          background-color: $color-blue;
          transition: 0.5s;
        }
      }
    }
  }
  &__bottom-btn {
    color: #ffffff;
    background-color: $color-blue;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1);
    border: none;
    outline: none;
    border-radius: 45px;
    padding: 18px 34px;
    margin: 28px auto 120px;
    cursor: pointer;
    transition: 1s;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      color: $color-blue;
      transition: 1s;
    }
  }
}
// end release

// start product общие для карточек продуктов
.product__top:hover {
  .product__img::after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: linear-gradient(270deg, rgb(6, 116, 236) 0%, rgb(61, 94, 215) 46%, rgb(115, 71, 193) 100%);
    opacity: 0.902;
  }
  .product__link {
    display: block;
  }
}
.product__img {
  position: relative;
  width: 362px;
  height: 232px;
}
.product__link {
  display: none;
  position: relative;
  text-align: center;
  transition: 1s;
  a {
    position: absolute;
    top: -140px;
    font-size: 15px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #ffffff;
    width: 130px;
    height: 45px;
    background-color: transparent;
    border: 1px solid rgb(244, 244, 244);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 45px;
    padding-top: 13px;
    transition: 0.5s;
  }
  .product__link--info {
    left: 45px;
  }
  .product__link--demo {
    left: 185px;
  }
  .product__link--info:hover,
  .product__link--demo:hover {
    background-color: #fff;
    color: $color-blue;
    transition: 1s;
  }
}
.product__caption {
  font-size: 20px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #000000;
  margin-top: 21px;
  margin-left: 30px;
}
.product__text {
  font-size: 16px;
  line-height: 30px;
  color: $color-grey;
  overflow: hidden;
  border-bottom: 1px solid rgb(236, 236, 236);
  padding: 26px 30px 24px;
}
.product__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  padding-bottom: 18px;
  .lnr-cart {
    margin-right: 30px;
    margin-left: 5px;
  }
}
.product__item {
  max-width: 361px;
  min-height: 530px;
  background-color: #ffffff;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  border-radius: 4px;
  margin-bottom: 30px;
  transition: 0.5s;
}
.product__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.product__price {
  width: 60px;
  height: 30px;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  color: $color-blue;
  background-color: #e6f1fd;
  border-radius: 44px;
  margin-left: 30px;
}
.product__like {
  display: flex;
  font-size: 15px;
  color: #6f7d8d;
  background-color: transparent;
  border: none;
  .lnr-heart {
    color: $color-violet;
    margin-right: 8px;
    margin-left: 14px;
  }
}
.product__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product__user {
  width: 29px;
  height: 29px;
  border-radius: 50%;
}
.product__name {
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  margin-right: 20px;
  margin-left: 10px;
  transition: 1s;
  &:hover {
    color: $color-violet;
    transition: 1s;
  }
  &:active {
    color: $color-violet;
    transition: 1s;
  }
  &:focus {
    color: $color-violet;
    transition: 1s;
  }
}
.product__type {
  color: $color-violet;
  img {
    margin-right: 10px;
  }
}
.product__content {
  display: flex;
  align-items: center;
  margin-left: 30px;
  margin-top: 15px;
}

.product__basket {
  display: flex;
  font-size: 15px;
  color: $color-blue;
  padding-right: 30px;
  background-color: transparent;
  border: none;
  .lnr-cart {
    margin-right: 8px;
    margin-left: 20px;
  }
}
// end product

// followers start
.followers {
  .product__link--info,
  .product__link--demo {
    height: 20px;
    padding: 13px 0;
  }

  background-color: #eff1f5;
  &-slider__container {
    padding-top: 125px;
    padding-bottom: 86px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
    max-width: 1140px;
    height: 110px;
    margin-bottom: 50px;
    padding: 0 30px;
  }
  &__text {
    font-weight: 500;
    font-size: 30px;
  }
  &-slider__button {
    position: relative;
    width: 110px;
    height: 45px;
    background-color: $color-blue;
    border-radius: 45px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    top: 22px;
    width: 55px;
    height: 45px;
    background-color: $color-blue;
    border: none;
    border-radius: 45%;
    color: #ffffff;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid #fff;
      transition: 1s;
    }
  }
  .swiper-button-prev {
    left: 0;
  }
  .swiper-button-next {
    right: 0;
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: none;
  }
}
// follovers end

// statistic start
.statistic {
  background-color: #212225;
  padding: 88px 0;
  &__title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__briefcase {
    .lnr-briefcase,
    .statistic__number {
      color: #feb71d;
    }
  }
  &__download {
    .lnr-cloud-download,
    .statistic__number {
      color: #58c9e9;
    }
  }
  &__smile {
    .lnr-smile,
    .statistic__number {
      color: #77de51;
    }
  }
  &__users {
    .lnr-users,
    .statistic__number {
      color: #ff6a6d;
    }
  }
  &__box {
    text-align: center;
    max-width: 200px;
    .lnr {
      font-size: 48px;
      margin-bottom: 40px;
    }
  }
  &__number {
    font-size: 36px;
    margin-bottom: 3px;
  }

  &__text {
    font-size: 18px;
    line-height: 36px;
    color: #ffffff;
  }
}
// statistic end

// reasons start
.reasons {
  &__caption {
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    margin-top: 110px;
    span {
      color: $color-blue;
    }
  }
  &__text {
    max-width: 680px;
    font-size: 16px;
    line-height: 30px;
    color: $color-grey;
    text-align: center;
    margin: 21px auto 60px;
  }
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &__title {
    position: relative;
    max-width: 361px;
    min-height: 373px;
    text-align: center;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px;
    transition: 1s;
    &:hover,
    &:active,
    &:focus {
      border: 1px solid $color-blue;
      transition: 1s;
    }
    .lnr-license {
      color: $color-blue;
    }
    .lnr-magic-wand {
      color: #7f4ec2;
    }
    .lnr-lock {
      color: #77de51;
    }
    .lnr-chart-bars {
      color: #feb71d;
    }
    .lnr-leaf {
      color: #58c9e9;
    }
    .lnr-phone {
      color: #ff6a6d;
    }
    .lnr-license,
    .lnr-chart-bars,
    .lnr-phone,
    .lnr-lock {
      font-size: 60px;
      margin-top: 35px;
      margin-bottom: 37px;
    }
    .lnr-leaf,
    .lnr-magic-wand {
      font-size: 60px;
      margin-top: 25px;
      margin-bottom: 50px;
    }
  }
  &__title--caption {
    font-size: 24px;
    color: #000000;
    margin-bottom: 22px;
  }
  &__title--text {
    font-size: 16px;
    line-height: 30px;
    color: $color-grey;
  }
}
@for $i from 1 through 6 {
  .reasons__number-#{$i}::before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-image: url(../images/reason#{$i}.png);
    background-repeat: no-repeat;
  }
}
// reasons end

// sell start
.sell {
  background-image: url(../images/bg_sell.jpg);
  color: #ffffff;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 88px;
  &-box {
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
  }
  &-title {
    max-width: 602px;
    padding: 0 10px;
  }
  &__link {
    margin-bottom: 48px;
  }
  &__caption {
    font-size: 36px;
    line-height: 30px;
  }
  &__text {
    font-size: 16px;
    line-height: 30px;
    margin-top: 21px;
    margin-bottom: 44px;
  }
  &__btn-left {
    color: $color-blue;
  }
  &__btn-right {
    color: $color-violet;
  }
  &__btn-left,
  &__btn-right {
    padding: 19px 26px;
    margin-bottom: 98px;
    transition: 0.5s;
    &:hover {
      background-color: #76aae0;
      color: $color-violet;
      transition: 1s;
    }
    :active {
      color: $color-violet;
      transition: 1s;
    }
    :focus {
      color: $color-violet;
      transition: 1s;
    }
  }
}
// sell end

// testimonial start
.testimonial {
  &__title {
    max-width: 555px;
    height: 315px;
    border-left: $color-blue solid 2px;
    border-radius: 4px;
    box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
  }
  &__user {
    display: flex;
    align-items: center;
    margin: 0 40px 22px;
  }
  &__photo {
    max-width: 85px;
    max-height: 85px;
    margin: 50px 20px 0 0;
  }

  &__name {
    font-family: "Quicksand";
    font-weight: 700;
    font-size: 20px;
    color: #000000;
    margin-bottom: 18px;
    margin-top: 50px;
    transition: 1s;
    &:hover,
    &:active,
    &:focus {
      color: $color-violet;
      transition: 1s;
    }
  }
  &__info {
    font-size: 16px;
    color: $color-grey;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-violet;
      transition: 1s;
    }
  }
  &__icons {
    font-size: 60px;
    color: #e8e8e8;
    margin-top: 40px;
    margin-left: 170px;
    transition: 1s;
    &:hover,
    &:active,
    &:focus {
      color: $color-violet;
      transition: 1s;
    }
  }
  &__title-text {
    font-size: 16px;
    line-height: 30px;
    color: $color-grey;
    margin: 0 40px 10px;
    overflow: hidden;
  }
  &__btn {
    display: block;
    font-size: 16px;
    padding: 19px 25px;
    color: #ffffff;
    background-color: $color-blue;
    margin: 29px auto 120px;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      background-color: #fff;
      border: 1px solid $color-blue;
      color: $color-violet;
      transition: 1s;
    }
  }
  &__container {
    position: relative;
    .swiper-button-prev::after,
    .swiper-button-next::after {
      display: none;
    }
    .swiper-button-next,
    .swiper-button-prev {
      position: absolute;
      width: 53px;
      height: 53px;
      border-radius: 50%;
      background-color: #ffffff;
      box-shadow: 0px 2px 50px 0px rgba(0, 0, 0, 0.08);
      border: none;
      transition: 1s;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $color-blue;
        transition: 1s;
      }
    }
    .swiper-button-prev {
      left: -10px;
    }
    .swiper-button-next {
      right: -10px;
    }
  }
  .testimonial__wrapper {
    display: none;
    .testimonial__title {
      margin: 25px auto;
    }
  }
}
// testimonial end

// start blog
.blog {
  background-color: #eff1f5;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  .product__caption {
    font-size: 22px;
  }
  .product__img {
    position: relative;
    width: 362px;
    height: 232px;
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .product__item {
      position: relative;
      height: 475px;
      margin-bottom: 117px;
    }
    .product__info {
      font-size: 15px;
      color: #7e7e7e;
      margin-left: 30px;
    }
    .lnr-clock {
      min-width: 182px;
      color: $color-blue;
      margin-right: 8px;
    }
    .product__wrapper {
      .product__bubble {
        color: #7e7e7e;
        border: none;
        background-color: transparent;
        cursor: pointer;
      }
    }
    .product__eye {
      color: #7e7e7e;
      border: none;
      background-color: transparent;
      margin-right: 30px;
      cursor: pointer;
    }
  }
}
// end blog

// support start
.support {
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 570px;
    margin: 60px 0;
  }
  &__img {
    width: 155px;
    height: 125px;
    margin: 0 auto 25px;
  }
  .link__guarantee {
    font-size: 24px;
    color: #000000;
    margin: 0 auto;
    transition: 0.5s;
    span {
      color: $color-blue;
    }
    &:hover {
      transition: 0.5s;
      color: $color-blue;
    }
  }
  .link__support {
    font-size: 24px;
    color: #000000;
    margin: 0 auto;
    transition: 0.5s;
    span {
      color: $color-violet;
    }
    &:hover {
      color: $color-violet;
      transition: 0.5s;
    }
  }
}
// support end

// banner start

.banner {
  background-image: linear-gradient(270deg, rgb(13, 62, 242) 0%, rgb(64, 48, 201) 46%, rgb(114, 33, 160) 100%);
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__caption {
    font-size: 36px;
    color: #ffffff;
    margin-top: 100px;
    margin-bottom: 21px;
  }
  &__text {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 50px;
  }
  &__link {
    font-size: 16px;
    background-color: #fff;
    color: $color-blue;
    margin-bottom: 110px;
    padding: 19px 25px;
    transition: 0.5s;
    &:hover {
      background-color: #aac6e4;
      color: $color-violet;
      transition: 1s;
    }
    :active {
      color: $color-violet;
      transition: 1s;
    }
    :focus {
      color: $color-violet;
      transition: 1s;
    }
  }
}
// banner end

// footer start
.footer {
  background-color: #262b30;
  &__inner {
    display: flex;
    justify-content: space-between;
    color: #ababab;
    font-size: 15px;
    padding: 113px 0;
  }
  &__col-1 {
    width: 342px;
    padding-right: 57px;
  }
  &__col-2 {
    width: 250px;
    padding-right: 100px;
  }
  &__col-3 {
    width: 203px;
    padding-right: 65px;
  }
  &__col-4 {
    width: 370px;
  }
  .footer__logo {
    margin-bottom: 26px;
  }
  &__col-title {
    font-size: 18px;
    line-height: 42px;
    color: #ffffff;
    padding-top: 9px;
    margin-bottom: 19px;
  }
  &__col-list {
    .link {
      margin-bottom: 8px;
    }
  }
  &__col-text {
    line-height: 28px;
    margin-bottom: 28px;
  }
  &__col-phone,
  &__col-mail,
  &__col-link {
    color: #ababab;
    font-size: 15px;
  }

  &__col-adress {
    display: flex;
    align-items: center;
  }
  &__col-phone,
  &__col-mail {
    margin-bottom: 17px;
  }
  &__social-link {
    display: block;
    margin-top: 30px;
  }
  .footer__form {
    position: relative;
    &-email {
      display: block;
      width: 100%;
      height: 50px;
      background-color: #fff;
      max-width: 363px;
      border-radius: 45px;
      border: none;
      padding: 0 130px 0 30px;
      transition: 0.5s;
      &:hover,
      &:active,
      &:focus {
        border: 1px solid $color-blue;
        background-color: rgb(158, 203, 233);
        transition: 0.5s;
      }
    }
    &-btn {
      position: absolute;
      top: 0;
      right: 0;
      width: 112px;
      height: 50px;
      text-align: center;
      border: none;
      color: #ffffff;
      background-color: $color-blue;
      border-radius: 45px;
      cursor: pointer;
      transition: 0.5s;
      &:hover,
      &:active,
      &:focus {
        background-color: $color-violet;
        transition: 0.5s;
      }
    }
  }
  &__col-location {
    font-style: normal;
  }
  .lnr-map-marker,
  .lnr-envelope,
  .lnr-phone-handset {
    margin-right: 10px;
  }
  .footer__copy {
    height: 92px;
    color: #ababab;
    background-color: #192027;
    padding: 30px 25px;
    &-text {
      font-size: 15px;
      line-height: 27px;
      text-align: center;
      span {
        font-family: "Quicksand";
        font-weight: 700;
        color: #ffffff;
      }
    }
  }
}
// footer end

// start drop
.drop-menu {
  position: absolute;
  width: 273px;
  font-size: 15px;
  text-transform: none;
  line-height: 44px;
  color: #747a86;
  background-color: #fff;
  border-top: 1px solid $color-blue;
  box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
  padding: 21px;
  transition: 1s;
  .drop-menu__link {
    padding-left: 10px;
    transition: 0.3s;
    span {
      font-size: 15px;
      margin-right: 12px;
    }
  }
  .drop-menu__link:hover,
  .drop-menu__link:active,
  .drop-menu__link:focus {
    background-color: $color-blue;
    color: #ffffff;
    width: 100%;
    border-radius: 4px;
    transition: 0.3s;
  }
}
.drop-menu__home,
.drop-menu__products,
.drop-menu__wordpress {
  display: none;
  top: 80px;
}
.drop-menu__account {
  display: none;
  top: 105px;
  right: 0px;
}
.drop-menu__account::after {
  content: " ";
  position: absolute;
  top: -10px;
  right: 30px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent $color-blue transparent;
}

.drop-menu__messages,
.drop-menu__alarm,
.drop-menu__cart {
  display: none;
  width: 370px;
  padding: 0;
  z-index: 1;
  &::after {
    content: " ";
    position: absolute;
    top: -10px;
    right: 30px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $color-blue transparent;
  }
  .drop-menu__mail {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8ebf0;
  }
  .messages__photo {
    width: 42px;
    height: 42px;
    margin-right: 15px;
    margin-left: 30px;
  }
  .messages__inner {
    display: flex;
  }
  .caption {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    padding: 23px 30px;
  }
  .status {
    color: $color-blue;
    font-size: 15px;
    margin-left: 70px;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-violet;
      transition: 0.5s;
    }
  }
  .lnr-envelope {
    font-size: 15px;
    color: $color-blue;
    margin-left: 15px;
  }
  .name {
    font-weight: 500;
    font-size: 16px;
    color: #333333;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
      transition: 0.5s;
    }
  }
  .messages__text {
    color: $color-grey;
    font-size: 15px;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
      transition: 0.5s;
    }
  }
}
.drop-menu__messages {
  top: 100px;
  left: -265px;
}
.messages__box--alarm {
  display: flex;
  .messages__inner {
    display: flex;
    flex-direction: column;
    color: #747a86;
    padding-bottom: 12px;
  }
}
.drop-menu__alarm {
  top: 100px;
  left: -320px;
  line-height: normal;
  .company {
    color: $color-blue;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-violet;
      transition: 0.5s;
    }
  }
  .lnr-heart {
    margin-top: 30px;
    margin-left: 75px;
    color: $color-blue;
  }
}

.menu__alarm:hover {
  .drop-menu__alarm {
    display: block;
  }
}
.menu__cart:hover {
  .drop-menu__cart {
    display: block;
  }
}
.menu__pages:hover {
  .drop-menu__wrapper {
    display: block;
  }
}
.drop-menu__cart {
  width: 400px;
  display: none;
  top: 100px;
  left: -242px;
  .messages__photo {
    width: 80px;
    height: 70px;
  }
  .caption {
    font-size: 16px;
    line-height: 22px;
    padding: 28px 0 0 0;
    transition: 0.5s;
    &:hover,
    &:active,
    &:focus {
      color: $color-blue;
      transition: 0.5s;
    }
  }
  .lnr-trash {
    margin: auto 25px;
    text-align: center;
  }
  .company {
    color: $color-violet;
  }
  .price {
    color: $color-blue;
    font-weight: 500;
    width: 50px;
    height: 30px;
    border-radius: 40%;
    background-color: #e6f1fd;
  }
  .basket__link {
    display: flex;
    justify-content: space-between;
  }
  .basket__link-cart,
  .basket__link-checkout {
    text-align: center;
    width: 200px;
    height: 44px;
    color: #fff;
    background-color: $color-violet;
    transition: 0.5s;
  }
  .basket__link-cart:hover,
  .basket__link-checkout:hover {
    background-color: $color-blue;
    transition: 0.5s;
  }
}

.drop-menu__wrapper {
  display: none;
  .drop-menu__pages {
    display: flex;
    justify-content: space-between;
    width: 132%;
    z-index: 5;
    left: 0;
    top: 80px;
  }
  .drop-menu__link {
    font-size: 15px;
    color: #54667a;
    padding-left: 0;
  }
  .caption {
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    color: #000000;
  }
  .title-1 {
    display: flex;
    flex-direction: column;
    width: 430px;
    .link {
      padding-right: 32px;
    }
  }
  .title-2 {
    display: flex;
    flex-direction: column;
    width: 160px;
  }
  .title-3 {
    display: flex;
    flex-direction: column;
    width: 415px;
    .link {
      padding-right: 32px;
    }
  }
  .title__inner {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #e8ebf0;
  }
}
