@import "vars";
@import "global";
@import "fonts";

// start weekly
.weekly {
  background-color: #eff1f5;
  .weekly__container {
    padding-top: 125px;
    padding-bottom: 120px;
    .weekly__title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 2px 4px 0px rgba(108, 111, 115, 0.1);
      max-width: 1140px;
      height: 110px;
      margin-bottom: 50px;
      padding: 0 30px;
      .weekly__title-text {
        font-weight: 500;
        font-size: 30px;
      }
      .weekly__button {
        position: relative;
        width: 110px;
        height: 45px;
        background-color: $color-violet;
        border-radius: 45px;
        .swiper-button-prev,
        .swiper-button-next {
          top: 22px;
          width: 55px;
          height: 45px;
          background-color: $color-violet;
          border: none;
          border-radius: 45%;
          color: #ffffff;
        }
        .swiper-button-prev {
          left: 0;
        }
        .swiper-button-next {
          right: 0;
        }
        .swiper-button-prev::after,
        .swiper-button-next::after {
          display: none;
        }
        .swiper-button--img {
          width: 7px;
          height: 14px;
        }
      }
    }
    .swiper-container {
      .weekly__item {
        display: flex;
        .weekly__item-img {
          min-width: 555px;
          height: 450px;
          height: 450px;
          background-image: url(../images/content/product.jpg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }
        .weekly__inner-box {
          background-color: #fff;
          padding-left: 20px;
          .weekly__item-caption {
            font-size: 24px;
            font-family: "Quicksand-Medium", sans-serif;
            margin-top: 47px;
            margin-left: 30px;
          }
          .weekly__item-text {
            font-size: 16px;
            line-height: 30px;
            height: 144px;
            overflow: hidden;
            color: $color-grey;
            padding: 26px 30px 10px;
          }
          .weekly__item-button {
            border-bottom: 1px solid rgb(236, 236, 236);
            margin-right: 54px;
            margin-left: 30px;
            .product-button {
              color: #868c96;
              background-color: #f1f3f6;
              border-radius: 45px;
              border: none;
              margin-right: 9px;
              margin-bottom: 40px;
              padding: 9px 15px 8px 17px;
              cursor: pointer;
              &:hover {
                background-color: $color-blue;
                color: $color-violet;
                transition: 1s;
              }
              :active {
                background-color: $color-blue;
                color: $color-violet;
                transition: 1s;
              }
              :focus {
                background-color: $color-blue;
                color: $color-violet;
                transition: 1s;
              }
            }
          }
          .weekly__item-info {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 22px;
            .weekly__item-price {
              width: 102px;
              height: 30px;
              font-weight: bold;
              line-height: 30px;
              text-align: center;
              font-size: 15px;
              color: #ffffff;
              background-color: $color-blue;
              border-radius: 45px;
              margin-left: 30px;
            }
            .rate-star {
              margin-right: 50px;
            }
          }
        }
      }
    }
  }
}
.weekly__item-like {
  font-size: 15px;
  color: #6f7d8d;
  background-color: transparent;
  border: none;
  .lnr-heart {
    color: $color-violet;
    margin-right: 8px;
    margin-left: 14px;
  }
}
// end weekly
